body
{
    background-color: rgb(53, 51, 51);
}
.hd1
{
 background-color: red;
 border: 1px solid black;
}
.img1
{
 width: 100px;
 height: 100px;
 float: left;
}
.link1
{
    color: blueviolet;
}
.d1
{
    border: 1px solid black;
    background-color: white;
}
.d2
{
    border: 1px solid black;
    position: absolute;
    left: 1px;
    top: 106px;
    right: 340px;
    background-color:rgb(165, 159, 159) ;
}
.d3
{
    position: absolute;
    right:1px;
    top: 106px;
    left: 1035px;
    border: 1px solid black;
    background-color:rgb(165, 159, 159);
}
.d4
{
    position: absolute;
    bottom: 100px;
    right: 4px;
    left: 1px;
    border: 1px solid black;
    background-color: white;
    text-align: center;
}