.hd1
{
    text-align: center;
}

.d1
{
 border: 1px solid #000;
}

.d2
{
 border: 1px solid #000;
}
.d3
{
 border: 1px solid #000;
}

.d4
{
 border: 1px solid #000;
}

.d5
{
 border: 1px solid #000;
}

.d6
{
 border: 1px solid #000;
}